
<h3>程序发生一个内部请求错误，我们会反馈到我们团队，我们正在努力解决！</h3>
<h3>请与我们联系</h3>
<hr />
@*<h3>错误详情</h3>

<div class="alert alert-danger">
    <h5>异常路径：</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>异常信息：</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
    <h5>堆栈跟踪：</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>*@ 